#root {
  max-width: 1281px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.title-text {
  color: #f6b092;
  font-size: 2rem;
  margin: 0.4em 0;
}
.pro-owner {
  color: #f6b092;
  font-size: 1.6rem;
  margin: 0;
}