body {
  margin: 0;
  background: #ff00001a;
}

#root {
  max-width: 1281px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 100%;
  max-width: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.title-text {
  color: #f6b092;
  font-size: 4vw;
  margin: 0.4em 0;
}
.pro-owner {
  color: #f6b092;
  font-size: 4vw;
  margin: 0;
}